<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
</head>
<body>
    {% include 'final_project/includes/nav.html' %}
    <section class="section container" style="max-width: 640px;">
        <h1 class="title">Create a new Film or Serial</h1>
        <form method="POST" action="{% url 'final_project:new' %}">
          {% csrf_token %}

          {% load crispy_forms_tags %}
          {{ form|crispy }}

          <div class="buttons">
              <button type="submit" class="button is-warning">Add...</button>
              <a href="{% url 'final_project:films' %}" class="button is-warning is-light">Cancel</a>

          </div>
        </form>
      </section>
</body>
</html>