<section class="section">
    <div class="container">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <style>
            a button {
                padding-top: 8px;
                align-items: center;
                margin-right: 20px;
                max-height: 47.25px;
            }
            a {
              text-decoration: none;
              font-size: 35px;
            }
            li a p {
                margin-left: -25px;
            }
          </style>

            <a class="navbar-item" href="{% url 'django_fp:index' %}">
              <button class="button is-info is-dark">Home</button></a>
            <a class="navbar-item" href="{% url 'django_fp:films' %}">
              <button class="button is-info is-dark">Films and Serials</button></a>
            <a class="navbar-item" href="{% url 'django_fp:actors' %}">
              <button class="button is-info is-dark">Actors</button></a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" hidden='true'>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
    </nav>
    </div>
  </section>