img {
    max-width: 330px;
    max-height: 500px;
    float: left;
    margin: 0 15px 15px 0;
}

.btn-red {
    background-color: lightcoral;
    color: black;
    font-weight: 700;
    max-width: 150px;
}

/* .container {
    background: #131730;
} */