img {
    max-width: 330px;
    max-height: 500px;
    float: left;
    margin: 0 15px 15px 0;
}

.btn-edit {
    background-color: cyan;
    color: black;
    font-weight: 700;
    max-width: 150px;
}

.btn-red {
    background-color: lightcoral;
    color: black;
    font-weight: 700;
    max-width: 150px;
}

.text {
    max-width: 443.6px;
}

.rate {
    max-width: 100.1px;
}

.submit {
    max-width: 443.6px;
    background-color: rgb(95, 115, 155);
}

.review_form {
    padding: 5px;
    border: 2px solid rgb(38, 46, 62);
    max-width: 463.6px;
    margin-bottom: 10px;
}

/* .container {
    background: #131730;
} */