ul.list {
    margin-left: 1em 0 3em 0;
    padding: 0;
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 1fr 1fr;
}

ul.list li {
    list-style-type: none;
}

ul.list li a {
    display: flex;
    gap: 1em;
}

ul.list li a img {
    border-radius: 25%;
    width: 64px;
    height: 64px;
    object-fit: cover;
}

.btn-yellow {
    background-color: rgb(114, 138, 186);
    color: rgb(50, 50, 50);
    font-weight: 700;
}