<!doctype html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="{% static "django_fp/pico.min.css" %}">
    <link rel="stylesheet" href="{% static "django_fp/main.css" %}">
    {% comment %} <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"> {% endcomment %}
    <title>{% block django_fp_title %}{% endblock  %}</title>
    <meta name='description' content="{% block django_fp_desc %}{% endblock  %}">
  </head>
  <body>
    <main class="container">
      {% block nav %}{% endblock  %}
      {% block django_fp_base %}{% endblock  %}
    </main>
  </body>
</html>