<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    {% block styles %}{% endblock  %}
    {% comment %} <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"> {% endcomment %}
    <title>{% block django_fp_title %}{% endblock  %}</title>
    <meta name='description' content="{% block django_fp_desc %}{% endblock  %}">
  </head>
  <body>
    <main class="container">
      {% block django_fp_base %}{% endblock  %}
      <script>
        const toastQueue = [];

        {% for message in messages %}
            toastQueue.push({
                icon: '{{ message.tags|default:"info" }}',
                title: '{{ message|escapejs }}',
                timer: 3000,
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timerProgressBar: true,
                background: '{{ message.tags == "success" and "#d4edda" or message.tags == "error" and "#f8d7da" or message.tags == "warning" and "#fff3cd" or "#d1ecf1" }}',
                iconColor: '{{ message.tags == "success" and "#155724" or message.tags == "error" and "#721c24" or message.tags == "warning" and "#856404" or "#0c5460" }}',
                customClass: {
                    popup: 'animated fadeInDown faster'  // you can use animate.css or custom
                }
            });
        {% endfor %}

        // Function to show toasts one by one
        (function showToasts(index = 0) {
            if (index < toastQueue.length) {
                Swal.fire(toastQueue[index]).then(() => {
                    setTimeout(() => showToasts(index + 1), 300); // show next toast after slight delay
                });
            }
        })();
      </script>
    </main>
  </body>
</html>