{% extends "django_fp/_base.html" %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static "django_fp/pico.min.css" %}">
<link rel="stylesheet" href="{% static "django_fp/detail.css" %}">
{% endblock  %}
{% block django_fp_title %}{{ django_fp.name }}{% endblock %}
{% block django_fp_desc %}{% endblock  %}

{% block django_fp_base %}
{% include 'django_fp/includes/nav.html' %}
    <h1>{{ actor }}</h1>
    <img src="{{ actor.image.url }}" alt="actor.name">
    <p>Born: {{ actor.born }}</p>
    {% comment %} <p>Plays in: <a href="{{ actor.film.get_absolute_url }}">{{ actor.film }}</a></p> {% endcomment %}
    <p>Plays in: 
        {% for film in films %}
            <a href="{{ film.get_absolute_url }}">{{ film.name }}</a>,
        {% endfor %}
    </p>
{% endblock  %}