{% extends "django_fp/_base.html" %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static "django_fp/pico.min.css" %}">
<link rel="stylesheet" href="{% static "django_fp/main.css" %}">
<style>
    li a {
        text-decoration: underline;
    }
    a:hover {
        color: green;
    }
</style>
{% endblock  %}
{% block django_fp_title %}Actors{% endblock  %}
{% block django_fp_desc %}Actors of django_fp app{% endblock  %}

{% block django_fp_base %}
{% include 'django_fp/includes/nav.html' %}

    <h1>Actors</h1>

    <ul class="list">
        {% for actors in object_list %}
            <li>
                <a href="{{ actors.get_absolute_url }}">{{ actors.name }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock  %}