{% extends "django_fp/_base.html" %}
{% load static %}
{% block django_fp_title %}Home{% endblock  %}
{% block django_fp_desc %}Home page of django_fp app{% endblock  %}
{% block styles %}
<link rel="stylesheet" href="{% static "django_fp/pico.min.css" %}">
<link rel="stylesheet" href="{% static "django_fp/main.css" %}">
{% endblock  %}

{% block django_fp_base %}
{% include 'django_fp/includes/nav.html' %}
    <h1 class="title">Welcome here!</h1>
    <p class="subtitle">
        Let me introduce you today into my small pre-selected choice of films and serials for you to spend your day with!
    </p>

    <div class="buttons are-medium is-centered">
        <a href="{% url 'login' %}" class="outline btn-yellow">Login here!</a>
        <a href="#" class="contrast" disabled>Register</a>
    </div>
{% endblock  %}

