{% extends "django_fp/_base.html" %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static "django_fp/pico.min.css" %}">
<link rel="stylesheet" href="{% static "django_fp/detail.css" %}">
<style>
    p a {
        font-size: 20px;
    }
    p a:hover {
        color: green;
    }
</style>
{% endblock  %}
{% block django_fp_title %}{{ django_fp.name }}{% endblock %}
{% block django_fp_desc %}{% endblock  %}

{% block django_fp_base %}
{% include 'django_fp/includes/nav.html' %}
    <h1>{{ item }}</h1>
    <img src="{{ item.image.url }}" alt="{{ item.name }}">
    <p>Tagline: {{ item.title }}</p>
    <p>Genre: {{ item.get_genre_display }}</p>
    <p>Type: {{ item.get_type_display }}</p>
    <p>Actors:
        {% for actor in item.actors.all %}
            <a href="{{ actor.get_absolute_url }}">{{ actor }}</a>,
        {% endfor %}
    </p>
    <p>Description: {{ item.desc }}</p>
    <p>Reviews: {{ item.review.text }}</p>

    <h3>Reviews:</h3>
    {% for review in reviews %}
        <div class="review">
            <p><strong>{{ review.user.username }}:</strong> {{ review.text }} (Rating: {{ review.rate }})</p>
        </div>
    {% empty %}
        <p>No reviews yet.</p>
    {% endfor %}

    <form method="post" class='review_form'>
        <h3>Write a Review:</h3>
        {% csrf_token %}
        {{ review_form.as_p }}
        <button type="submit" class='submit'>Submit Review</button>
    </form>

    {% if user.is_authenticated %}
        <form action="{% url 'django_fp:item_edit' pk=item.pk %}" method="get">
            <button type="submit" class="outline btn-edit" onclick="return confirm('Are you sure you want to edit this item?');">Edit</button>
        </form>
        <form action="{% url 'django_fp:item_delete' number=item.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="outline btn-red" onclick="return confirm('Are you sure you want to delete this item?');">DELETE</button>
        </form>
    {% endif %}
{% endblock  %}