{% extends "django_fp/_base.html" %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static "django_fp/pico.min.css" %}">
<link rel="stylesheet" href="{% static "django_fp/main.css" %}">
{% endblock  %}
{% block django_fp_title %}Films and serials{% endblock  %}
{% block django_fp_desc %}Films and serials of django_fp app{% endblock  %}

{% block django_fp_base %}
{% include 'django_fp/includes/nav.html' %}

    <h1>Films and serials</h1>

    <ul class="list">
        {% for films in object_list %}
            <li>
                <a href="{{ films.get_absolute_url }}">
                    {% if films.image %}
                    <img src="{{ films.image.url }}" alt="" loading='lazy'>
                    {% else %}
                    <img src="https://picsum.photos/200?{{ films.id }}" alt="" loading='lazy'>
                    {% endif %}
                    <h2>{{ films.name }}</h2>
                </a>
                <h5>Absolute url: {{ films.get_absolute_url }}</h5>
                <h5>Image url: {{ films.image.url }}</h5>
                <h5>Image: {{ films.films.image }}</h5>
                <h5>Film id: {{ films.id }}</h5>
            </li>
        {% endfor %}
    </ul>
{% endblock  %}