{% extends "django_fp/_base.html" %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static "django_fp/pico.min.css" %}">
<link rel="stylesheet" href="{% static "django_fp/detail.css" %}">
{% endblock  %}
{% block django_fp_title %}{{ django_fp.name }}{% endblock %}
{% block django_fp_desc %}{% endblock  %}

{% block django_fp_base %}
{% include 'django_fp/includes/nav.html' %}
    <h1>{{ item }}</h1>
    <img src="{{ item.image.url }}" alt="{{ item.name }}">
    <h2>Tagline: {{ item.title }}</h2>
    <h2>Genre: {{ item.get_genre_display }}</h2>
    <h2>Type: {{ item.get_type_display }}</h2>
    <h3>Actors: 
        {% for actor in item.actors.all %}
            <a href="{{ actor.get_absolute_url }}">{{ actor }}</a>,
        {% endfor %}
    </h3>
    <h4>Description: {{ item.desc }}</h4>
    <h3>Reviews: {{ item.review.text }}</h3>
{% endblock  %}