{% extends "django_fp/_base.html" %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static "django_fp/pico.min.css" %}">
<link rel="stylesheet" href="{% static "django_fp/detail.css" %}">
<style>
    p a {
        font-size: 20px;
    }
    p a:hover {
        color: green;
    }
</style>
{% endblock  %}
{% block django_fp_title %}{{ django_fp.name }}{% endblock %}
{% block django_fp_desc %}{% endblock  %}

{% block django_fp_base %}
{% include 'django_fp/includes/nav.html' %}
    <h1>{{ item }}</h1>
    <img src="{{ item.image.url }}" alt="{{ item.name }}">
    <p>Tagline: {{ item.title }}</p>
    <p>Genre: {{ item.get_genre_display }}</p>
    <p>Type: {{ item.get_type_display }}</p>
    <p>Actors:
        {% for actor in item.actors.all %}
            <a href="{{ actor.get_absolute_url }}">{{ actor }}</a>,
        {% endfor %}
    </p>
    <p>Description: {{ item.desc }}</p>
    <p>Reviews: {{ item.review.text }}</p>

    {% if user.is_authenticated %}
        <form action="{% url 'django_fp:item_delete' number=item.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="outline btn-red">DELETE</button>
        </form>

        {% comment %} <form method="POST" action="{% url 'django_fp:new_review' %}">
          {% csrf_token %}

          {% load crispy_forms_tags %}
          {{ form|crispy }}

          <div class="buttons">
              <button type="submit" class="button is-warning">Add...</button>
          </div>
        </form> {% endcomment %}
    {% endif %}
{% endblock  %}