{% extends "django_fp/_base.html" %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static "django_fp/pico.min.css" %}">
{% endblock  %}

{% block django_fp_base %}
{% include "django_fp/includes/nav.html" %}

<h2>{{ profile.user.username }}'s Profile</h2>

{% if profile.avatar %}
  <img src="{{ profile.avatar.url }}" width="150" height="150">
{% else %}
  <img src="/media/avatars/default.png" width="150" height="150">
{% endif %}

<p>{{ profile.bio }}</p>

<section class="user-reviews">
    <h2>Your Reviews</h2>

    {% if user_reviews %}
      <ul>
        {% for review in user_reviews %}
          <li>
            {% if review.item %}
              <strong><a href="{% url 'django_fp:item_detail' review.item.pk %}">{{ review.item.name }}</a></strong>:
            {% else %}
              <strong>[Deleted Item]</strong>:
            {% endif %}
            "{{ review.text|truncatewords:20 }}"
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>You haven't written any reviews yet.</p>
    {% endif %}
  </section>

<a href="{% url 'django_fp:edit_profile' %}">Edit Profile</a>

{% endblock  %}